:host {
  display: block;
}
.metadata-section {
  /* border-bottom: 1px solid #333; */
  padding-bottom: 10px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 20% auto;
  grid-template-areas:
      "metadata-section-help metadata-section-input";
}