.hub-event-details {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: #323232;
  font-size: 14px;
  width: 380px;
  height: 400px;
  font-family: 'Arial';
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.hub-event-background-image {
  background-color: rgb(255, 174, 0);
  grid-area: header;
}

.hub-event-content {
  grid-area: main;
  padding-left: 40px;
  padding-right: 40px;
}

.hub-event-footer {
  grid-area: footer;
  padding-left: 40px;
}
