:host {
  display: block;
}
.event span {
  display: inline;
}
.icon {
  margin-right: 5px;
  position: relative;
  top: 8px;
}
.event span.summary {
  font-size: 0.8em;
  font-weight: 300;
  display: block;
  margin-left: 29px;
}