:host {
  /* display: block; */
  overflow-x: hidden;      
}

.search-grid {
  display: grid;
  grid-template:
    ".   search" auto
    "filters results" auto /
    10rem 3fr;
  padding: 0 1rem 0 3rem;  
}

hub-suggest-input {
  grid-area: search;
}
.filters {
  grid-area: filters;
  }
.search-results {
  grid-area: results;
  display: flex;
  flex-wrap: wrap;
}
.search-results > .hub-content-card {
    border: 1px solid #888;
    padding: 1.5rem;
    flex-basis: 100%;
    margin: 10px;
    flex-basis: calc(33.333% - 20px);      
}