@import url("https://js.arcgis.com/4.15/esri/themes/light/main.css");

:host {
  height: 100%;
  min-height: 100%;  
}

.hub-map {
  height: 100%;
  min-height: 100%;
}
.drawing-button {
  display: none;
  position: relative;
  bottom: 20px;
  left: 200px;
}
.fullscreen-button {
  position: relative;
  bottom: 40px;
  left: 20px;
}