/* .hub-btn {
  position: relative;
  display: inline-block;
  padding: 0.375rem 1rem;
  width: auto;
  color: #ffffff;
  border: 1px solid #0079c1;
  border-radius: 0;
  background-color: #0079c1;
  box-sizing: border-box;
  transition: all 0.05s linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.5;
}

.hub-btn:hover {
  background-color: #005e95;
  border-color: #005e95;
} */

// @import "../../../node_modules/@esri/calcite-components/dist/calcite/calcite.css";