:host {
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;  
}

.queryBuilder, .codeExamples {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 2px;
  padding: 3px;
  border: 1px solid #888;
}