:host {
  display: block;
}

.annotation-entry textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  /* border: medium none; */
  color: #4c4c4c;
  font-size: 1em;
  min-height: 3em;
  width: 80%;
  padding-left: 5px;
}

calcite-button {
  height: 3em;
}